@import './variables.css';

*,*::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-primary);
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text-primary);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p,span {
    margin: 0;
}


.shadow-border {
    box-shadow: var(--shadow-primary);
}

.app-container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .app-container {
        max-width: 1000px;
    }
}